body {
    margin: auto;
    padding: auto;
    font-family: 'Helvetica';
    background-image: url("../media/1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  h1, h3, h4, h5, h6 {
    color: #add8e6; /* Azul para los títulos */
    font-size: 100px;
    text-align: right;
  }
  h2 {
    text-align: right;
  }
  p {
    color: #666; /* Gris para el texto secundario */
  }
  .centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-left: 450px;
  }
  
  .container {
    display: flex;
    height: 100%;
  }
  
  .sidebar {
    
    color: #ffffff;
    width: 200px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    margin-bottom: 10px;
  }
  .sidebar h3 {
    margin-bottom: 20px;
  }
  
  .sidebar ul {
    padding-left: 0;
  }
  
  .sidebar li {
    margin-bottom: 10px;
  }
  
  .sidebar a {
    color: #ffffff;
    text-decoration: solid;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    padding: 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    border-bottom: 3px solid #bdbdbd; /* Línea separadora entre las opciones */
  }
  
  .sidebar a:hover {
    background-color: #493737;
  }
  .contenidoDefault {
    text-align: right;
  }
  .main-content {
    flex: 1;
    padding: 20px;
    padding-right: 400px;
  }
  
  .content {
    
    padding: 20px;
    border-radius: 5px;
    
    
  }
  
  .content h2 {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff; /* Color del texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra del texto */
    letter-spacing: 2px; /* Espaciado entre letras */
    text-align: center;
  }
  .content h3 {
    font-size: 24px; /* Tamaño de fuente */
    color: #add8e6; /* Color del texto */
    text-transform: uppercase; /* Convertir el texto en mayúsculas */
    font-weight: bold; /* Peso de la fuente */
    margin-bottom: 10px; /* Espacio inferior */
    text-align: center;
  }
  
  .content p {
    color: #ffffff;
  }
  
 
  
  


/* Estilos para la sección "Sobre mí" */
#sobreMi {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alinea los elementos en la parte superior */
  }
  
  .sobremi {
    width: 100%; /* Para que ocupe todo el ancho disponible */
  }
  
  .about-me {
    flex: 1;
    padding: 20px;
  }
  
  .about-me h2 {
    margin-bottom: 10px;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap; /* En caso de que el ancho de la pantalla sea pequeño */
  }
  
  .parrafo {
    flex: 1; /* El párrafo ocupará el espacio restante */
    padding: 20px;
  }
  
  .parrafo p {
    margin: 0; /* Para evitar márgenes internos en el párrafo */
    font-size: 18px;
    line-height: 1.5;
    color: #dbdbdb; /* Color del texto */
    text-align: justify;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Sombra del texto */
    margin-bottom: 20px;
  }
  
  .profile-image {
    padding: 30px;
    flex: 1; /* La foto ocupará el espacio restante */
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: flex-start; /* Alinear en la parte superior */
  }
  
  .profile-image img {
    border: 5px solid #b8c8c9;
    border-radius: 10px; /* Ajusta el valor según tu preferencia */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 200px; /* Ajusta el valor según sea necesario */
    width: 100%;
    height: auto;
  }



/* Estilos para la sección "Habilidades" */
#habilidades {
    display: flex;
    justify-content: center;
  }
  
  .skills-section {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
  
  .languages,
  .tools {
    flex: 1;
    margin: 10px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .languages h3,
  .tools h3 {
    margin-bottom: 10px;
    color: #5b597b;
  }
  
  .languages ul,
  .tools ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .languages li,
  .tools li {
    margin-right: 20px;
    font-size: 24px;
    color: #666;
  }
  
  .languages li:last-child,
  .tools li:last-child {
    margin-right: 0;
  }
  
  .languages li i,
  .tools li i {
    transition: transform 0.3s ease;
  }
  
  .languages li i:hover,
  .tools li i:hover {
    transform: scale(1.2);
    color: #007bff;
  }
  


/* Estilos para la sección "Proyectos" */
#proyectos {
    display: flex;
    justify-content: center;
  }
  
  .projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Alinea los proyectos con espacio entre ellos */
  }
  
  .project {
    width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .project h3 {
    margin-bottom: 10px;
    color: #333;
  }
  
  .project p {
    color: #666;
  }
  
  .project a {
    display: block;
    margin-top: 10px;
    text-align: center;
    background-color: #86868b;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .project a:hover {
    background-color: #493737;
  }
  


  /* Estilos para la sección "Contacto" */
#contacto {
  display: flex;
  justify-content: center;
}

.contact-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-item {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.contact-item i {
  margin-right: 10px;
  font-size: 24px;
  color: #333;
}

.contact-item a {
  color: #493737;
  text-decoration: none;
  transition: color 0.3s ease;
}

.contact-item a:hover {
  color: #21759B;
}