/* stylesphone.css */

/* Estilos para el contenido */
.content {
    padding: 10px; /* Ajusta el espaciado del contenido para dispositivos móviles */
  }
  
  /* Estilos para el título h1 en dispositivos móviles */
  h1 {
    font-size: 28px; /* Ajusta el tamaño del título según tus preferencias en teléfonos */
  }
  
  /* Estilos para el texto del párrafo en dispositivos móviles */
  p {
    font-size: 16px; /* Ajusta el tamaño del texto según tus preferencias en teléfonos */
  }
  
  /* Estilos para la imagen del perfil en dispositivos móviles */
  .profile-image img {
    max-width: 100%; /* Ajusta el tamaño de la imagen para que se ajuste al ancho de la pantalla */
  }
  
  /* Estilos para el navegador lateral en dispositivos móviles */
  .sidebar {
    padding: 10px; /* Ajusta el espaciado del navegador lateral para dispositivos móviles */
  }
  
  /* Estilos para los enlaces del navegador lateral en dispositivos móviles */
  .sidebar a {
    padding: 8px; /* Ajusta el espaciado de los enlaces del navegador para dispositivos móviles */
    font-size: 18px; /* Ajusta el tamaño del texto de los enlaces para dispositivos móviles */
    border-bottom: none; /* Elimina la línea separadora en dispositivos móviles */
  }
  
  /* Estilos para la sección "Sobre mí" en dispositivos móviles */
  #sobreMi {
    flex-direction: column; /* Ajusta el diseño del contenido a una columna en dispositivos móviles */
    align-items: center; /* Centra el contenido en dispositivos móviles */
  }
  
  /* Estilos para la imagen de fondo del body en dispositivos móviles */
  body {
    background-size: cover; /* Ajusta el tamaño de la imagen de fondo para que cubra toda la pantalla */
  }
  